<h1>Login</h1>

<%= if @validated_phone_number == nil do %>
  <.live_component
    module={BeaconBallWeb.LoginLive.LoginFormComponent}
    id={:login_form_component}
  />
<% else %>
  <.live_component
    module={BeaconBallWeb.LoginLive.LoginVerifyFormComponent}
    id={:login_verify_form_component}
    phone_number={@validated_phone_number}
  />
<% end %> 
