<div>
  <.form
    let={f}
    for={@changeset}
    id="login-form"
    as={:form_data}
    phx-target={@myself}
    phx-change="validate"
    phx-submit="save">
  
    <%= label f, :phone_number, "Phone number"%>
    <%= text_input f, :phone_number %>
    <%= error_tag f, :phone_number %>
  
    <div>
      <%= submit "Save", phx_disable_with: "Saving..." %>
    </div>
  </.form>
</div>
