<div>
  <h2>A verification code has been sent to your phone.</h2>
  <.form
    let={f}
    for={@changeset}
    id="login-verify-form"
    as={:form_data}
    phx-target={@myself}
    phx-change="validate"
    phx-submit="save">
  
    <%= label f, :verification_code, "Verification code"%>
    <%= text_input f, :verification_code %>
    <%= error_tag f, :verification_code %>
  
    <div>
      <%= submit "Save", phx_disable_with: "Saving..." %>
    </div>
  </.form>
</div>
